In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [54]:
df1 = pd.read_csv('marketing_customer_analysis.csv')
df1

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [55]:
print("Dataframe shape (rows, columns):", df1.shape)

Dataframe shape (rows, columns): (9134, 24)

In [56]:
df1.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [57]:
df1 = df1.rename(columns={'EmploymentStatus':'employment_status'})
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
df1.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employment_status', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [58]:
#df1._get_numeric_data() also works
df1_numeric = df1.select_dtypes(['int', 'float', 'int64', 'float64']).columns
df1_numeric

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies',
       'total_claim_amount'],
      dtype='object')

In [59]:
len(df1_numeric)

8

In [60]:
df1_non_numeric = df1.select_dtypes(exclude=['int', 'float', 'int64', 'float64']).columns
df1_non_numeric

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employment_status', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [61]:
len(df1_non_numeric)

16

In [62]:
df1_categoric = df1.select_dtypes("object").columns
df1_categoric

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employment_status', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [63]:
len(df1_categoric)

16

In [64]:
# Check and deal with NaN values:

In [65]:
df1_wo_na = df1.dropna(how='any')
print("Dataframe shape (rows, columns):", df1.shape)
print("Dataframe shape without nan (rows, columns):", df1_wo_na.shape)

Dataframe shape (rows, columns): (9134, 24)
Dataframe shape without nan (rows, columns): (9134, 24)

In [66]:
df1.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employment_status                 object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [67]:
df1['effective_to_date']

0       2/24/11
1       1/31/11
2       2/19/11
3       1/20/11
4        2/3/11
         ...
9129    2/10/11
9130    2/12/11
9131     2/6/11
9132     2/3/11
9133    2/14/11
Name: effective_to_date, Length: 9134, dtype: object

In [68]:
#Converts 'effective_to_date' from dtype object to date
import time
from datetime import date

df1['effective_to_date'] = pd.to_datetime(df1['effective_to_date'])
df1['effective_to_date']

0      2011-02-24
1      2011-01-31
2      2011-02-19
3      2011-01-20
4      2011-02-03
          ...
9129   2011-02-10
9130   2011-02-12
9131   2011-02-06
9132   2011-02-03
9133   2011-02-14
Name: effective_to_date, Length: 9134, dtype: datetime64[ns]

In [77]:
df1.dtypes
#checks if effective_to_date column format has changed

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employment_status                        object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [78]:
# Copies dataframe
df2 = df1.copy()
df2

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [79]:
df3 = df2.copy()
df3

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [80]:
# Datetime format- Extract the months from the dataset and store in a separate column. 
# Duplicates the "effective to month" column and stores it in a column with a different name.
import datetime
import time
df3['effective_to_month'] = df3['effective_to_date'].dt.to_period('M')
df3

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,effective_to_month
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize,2011-02
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize,2011-02
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize,2011-02
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large,2011-02
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize,2011-02

In [82]:
#Checks new column type
df3.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employment_status                        object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
effective_to_month                    period[M]
dtype: object

In [108]:
#Checks the values of the newly created column
df3['effective_to_month'].unique()

<PeriodArray>
['2011-02', '2011-01']
Length: 2, dtype: period[M]

In [109]:
# [...] then filter the data to show only the information for the first quarter , ie Jan Feb and March
# Problem: there's only january and february. Hence, the dataframe is filtered by date instead of by month.
df4 = df3.sort_values(by=['effective_to_date'], ascending = True)
df4

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,effective_to_month
3451,PB63095,Washington,5568.947534,Yes,Extended,High School or Below,2011-01-01,Unemployed,M,0,...,1,7,Personal Auto,Personal L2,Offer1,Agent,407.440238,Two-Door Car,Medsize,2011-01
4044,XJ97760,California,4739.861234,No,Basic,Master,2011-01-01,Employed,M,35039,...,0,8,Personal Auto,Personal L1,Offer1,Call Center,254.308991,Four-Door Car,Medsize,2011-01
3993,RA27021,Nevada,27564.739510,No,Extended,Bachelor,2011-01-01,Disabled,F,26410,...,0,2,Corporate Auto,Corporate L1,Offer2,Agent,184.516188,Four-Door Car,Large,2011-01
7846,OG30514,Nevada,20018.204590,No,Basic,Bachelor,2011-01-01,Employed,F,65900,...,0,2,Personal Auto,Personal L3,Offer1,Agent,297.600000,Four-Door Car,Medsize,2011-01
7847,GJ44951,Washington,4698.759935,No,Basic,Bachelor,2011-01-01,Unemployed,F,0,...,0,6,Personal Auto,Personal L2,Offer1,Agent,321.600000,Two-Door Car,Medsize,2011-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,XA55917,California,8533.832013,No,Basic,College,2011-02-28,Disabled,F,26049,...,1,9,Personal Auto,Personal L1,Offer1,Web,619.165344,SUV,Medsize,2011-02
5756,KM65135,Oregon,4763.327142,No,Basic,College,2011-02-28,Disabled,M,14957,...,0,8,Corporate Auto,Corporate L3,Offer1,Branch,316.800000,Four-Door Car,Small,2011-02
8679,EB61889,California,9486.037005,No,Extended,High School or Below,2011-02-28,Medical Leave,M,25322,...,0,3,Corporate Auto,Corporate L3,Offer3,Call Center,886.033554,Sports Car,Medsize,2011-02
4191,SB83749,California,4717.628730,No,Basic,High School or Below,2011-02-28,Employed,M,20355,...,1,3,Personal Auto,Personal L1,Offer2,Branch,439.200000,Four-Door Car,Large,2011-02
1476,AU46443,Nevada,7517.083811,No,Basic,Bachelor,2011-02-28,Unemployed,F,0,...,0,3,Personal Auto,Personal L3,Offer1,Agent,1178.995926,SUV,Medsize,2011-02

In [110]:
#Reset index: 
df4 = df4.reset_index(drop=True)
df4

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,effective_to_month
0,PB63095,Washington,5568.947534,Yes,Extended,High School or Below,2011-01-01,Unemployed,M,0,...,1,7,Personal Auto,Personal L2,Offer1,Agent,407.440238,Two-Door Car,Medsize,2011-01
1,XJ97760,California,4739.861234,No,Basic,Master,2011-01-01,Employed,M,35039,...,0,8,Personal Auto,Personal L1,Offer1,Call Center,254.308991,Four-Door Car,Medsize,2011-01
2,RA27021,Nevada,27564.739510,No,Extended,Bachelor,2011-01-01,Disabled,F,26410,...,0,2,Corporate Auto,Corporate L1,Offer2,Agent,184.516188,Four-Door Car,Large,2011-01
3,OG30514,Nevada,20018.204590,No,Basic,Bachelor,2011-01-01,Employed,F,65900,...,0,2,Personal Auto,Personal L3,Offer1,Agent,297.600000,Four-Door Car,Medsize,2011-01
4,GJ44951,Washington,4698.759935,No,Basic,Bachelor,2011-01-01,Unemployed,F,0,...,0,6,Personal Auto,Personal L2,Offer1,Agent,321.600000,Two-Door Car,Medsize,2011-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,XA55917,California,8533.832013,No,Basic,College,2011-02-28,Disabled,F,26049,...,1,9,Personal Auto,Personal L1,Offer1,Web,619.165344,SUV,Medsize,2011-02
9130,KM65135,Oregon,4763.327142,No,Basic,College,2011-02-28,Disabled,M,14957,...,0,8,Corporate Auto,Corporate L3,Offer1,Branch,316.800000,Four-Door Car,Small,2011-02
9131,EB61889,California,9486.037005,No,Extended,High School or Below,2011-02-28,Medical Leave,M,25322,...,0,3,Corporate Auto,Corporate L3,Offer3,Call Center,886.033554,Sports Car,Medsize,2011-02
9132,SB83749,California,4717.628730,No,Basic,High School or Below,2011-02-28,Employed,M,20355,...,1,3,Personal Auto,Personal L1,Offer2,Branch,439.200000,Four-Door Car,Large,2011-02
9133,AU46443,Nevada,7517.083811,No,Basic,Bachelor,2011-02-28,Unemployed,F,0,...,0,3,Personal Auto,Personal L3,Offer1,Agent,1178.995926,SUV,Medsize,2011-02

In [132]:
#Calculating IQR btw 0.75 and 0.25

Q1 = df4.quantile(0.25)
Q3 = df4.quantile(0.75)
IQR = Q3 - Q1
print("First quartile:")
print(Q1)
print("")
print("Third quartile:")
print(Q3)
print("")
print("Interquartile range:")
print(IQR)
print(sns.countplot)

First quartile:
customer_lifetime_value          3994.251794
income                              0.000000
monthly_premium_auto               68.000000
months_since_last_claim             6.000000
months_since_policy_inception      24.000000
number_of_open_complaints           0.000000
number_of_policies                  1.000000
total_claim_amount                272.258244
Name: 0.25, dtype: float64

Third quartile:
customer_lifetime_value           8962.167041
income                           62320.000000
monthly_premium_auto               109.000000
months_since_last_claim             23.000000
months_since_policy_inception       71.000000
number_of_open_complaints            0.000000
number_of_policies                   4.000000
total_claim_amount                 547.514839
Name: 0.75, dtype: float64

Interquartile range:
customer_lifetime_value           4967.915247
income                           62320.000000
monthly_premium_auto                41.000000
months_since_last_claim             17.000000
months_since_policy_inception       47.000000
number_of_open_complaints            0.000000
number_of_policies                   3.000000
total_claim_amount                 275.256594
dtype: float64
<function countplot at 0x00000151777C7550>

In [85]:
#For later:
#df4.describe()

In [85]:
#def clean(df4):
#    df4['effective_to_date'] = pd.to_datetime(df2['effective_to_date'], errors='coerce')
#    df4['effective_to_date'] = df4['effective_to_date'].dt.month
#    return df4

In [128]:
#clean(df2)